body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 3px solid midnightblue;
    height: 40px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    color:midnightblue;
    border: 3px solid midnightblue;
    background-color:white;
    font-weight: bold;
    font-size: 20px;
}

button:active {
    background-color: midnightblue;
    color: whitesmoke;
}

li {
    list-style-type: none;
    margin-top: 5px;
    font-weight: bold;
}

ul {
    padding-left: 0;
}