body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    background-color: white;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 3px solid #1d3c45;
    height: 40px;
    margin-bottom: 10px;
    background-color: white;
}

button {
    padding: 8px;
    color:#1d3c45;
    border: 3px solid #1d3c45;
    background-color:white;
    font-weight: bold;
    font-size: 18px;
}

button:active {
    background-color: #1d3c45;
    color: white;
}

li {
    list-style-type: none;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #1d3c45;
}

#ul-el, #ul-el2 {
    padding-left: 0;
}

.word-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
}

fieldset {
    min-width: 225px;
    min-height: 100px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    color: #1d3c45;
}